[run]
omit =
    # omit local files
    *local*
    # omit test files
    *test*
    # omit env files
    *virtualenv*,*.tox*,*.pyenv*
    # omit coverage files -- causes problems when using coverage
    *coverage*
